/*CSS Stylesheet */
/**/

main {
  margin-top: 50px;
}
/*Typography*/

h2 {
  font-size: 20px;
}
/* Header styles*/

.banner {
 font-size:22px;
 color: white;
 background: black;
 text-align: center;
 margin: 20px 0 0 0;
 z-index: 1;
}

/*Card-Carosel*/
.card {
  /* margin: 0 5px; */
  padding: none;
  background-color: grey;
  text-align: center;

}
.card-body {
  /* padding: 5px 10px; */
}

.card-row {
  margin: -400px 0 50 0;
  text-align: center;

  /* display: inline; */
}

.list-group .list-group-flush {
  padding: none;
  border: none;
}

.btn-primary {
  background-color: black;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: gray;
  color; white;
}


/*Primary carosel css*/

/* .card-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-carousel .my-card {
  height: 20rem;
  width: 12rem;
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  background: #2e5266;
  background: linear-gradient(to top, #2e5266, #6e8898);
  transition: 1s;
}

.card-carousel .my-card:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.3);
  bottom: -5rem;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.card-carousel .my-card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}

.card-carousel .my-card.prev, .card-carousel .my-card.next {
  z-index: 2;
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s;
}


.card-carousel .my-card:nth-child(0):before {
  content: '0';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(1):before {
  content: '1';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(2):before {
  content: '2';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(3):before {
  content: '3';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(4):before {
  content: '4';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
} */

.my-card ul {
  text-decoration: none;
}

/* Calculator css */

.build-plan{
 text-align: center;
}
#calculate {
 background: grey;
}
/*Monthly/Annualy toogle*/
.toggle_radio{
 text-align: center;
 position: relative;
 background: rgba(255,255,255,.1);
 margin: 4px auto;
 overflow: hidden;
 padding: 0 !important;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 border-radius: 50px;
 position: relative;
 height: 26px;
 width: 218px;
}
.toggle_radio > * {
 float: left;
}
.toggle_radio input[type=radio]{
 display: none;
 /*position: fixed;*/
}
.toggle_radio label{
 /* font: 90%/1.618 "Source Sans Pro"; */
 color: rgba(255,255,255,.9);
 z-index: 0;
 display: block;
 width: 100px;
 height: 20px;
 margin: 3px 3px;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 border-radius: 50px;
 cursor: pointer;
 z-index: 1;
 /*background: rgba(0,0,0,.1);*/
 text-align: center;
 /*margin: 0 2px;*/
 /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
 /*display: none;*/
 /*background: red;*/
 width: 100px;
 height: 20px;
 position: absolute;
 top: 3px;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 border-radius: 50px;
 -webkit-transition: all .4s ease;
 -moz-transition: all .4s ease;
 -o-transition: all .4s ease;
 -ms-transition: all .4s ease;
 transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
 background: rgba(255,255,255,.3);
 left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider{
 background: rgba(255,255,255,.3);
 left: 109px;
}
/*end of Monthly/Annualy toogle*/

/*Footer styles*/
/*Social Buttons*/
.fa {
   padding: 10px;
   font-size: 30px;
   width: 50px;
   text-align: center;
   text-decoration: none;
}

.fa:hover {
   opacity: 0.7;
}

.fa-facebook {
   background: #3B5998;
   color: white;
}

.fa-twitter {
   background: #55ACEE;
   color: white;
}

.fa-instagram {
   background: #0E68CE;
   color: white;
}

/*Blocks*/

#netflix-container {
  margin: 50px 0;
}
