/*CSS Stylesheet */
/**/

main {
  margin-top: 50px;
}
/*Typography*/

h2 {
  font-size: 24px;
}

/* Top Navs CSS */



#navbar-primary .nav-link {
  color: black;
  font-size: 130%;
}

#pills-tab {
  background-color: black;
  color: white;
}

.pill-text-white {
  color: white;
}

/* Header styles*/

.banner {
 font-size:22px;
 color: white;
 background: black;
 text-align: center;
 padding: 15px 0;
 /* margin-top: 20px; */
 z-index: 1;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/*Card-Carosel*/

.phones-container {
  margin-top: -20%;
}

.list-group-item {
  border: none;
  background-color:rgba(192,192,192,0.1);
  width: 100%;
}
.card-body {
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color:rgba(192,192,192,0.3);
  text-align: center;
  border-radius: 5px;
}

.card {
  border: none;
  background-color:rgba(192,192,192,0);


}

.card-row {
  /* margin: -400px 0 50 0; */
  text-align: center;

}

ul .list-group {
  /* margin: 5px; */
  padding: none;
  border: none;
}

.list-group-item {
  padding: 10px 2px;
}

.btn-primary {
  background-color: black;
  color: white;
  border: none;
  margin-top: 5px;
}

.btn-primary:hover {
  background-color: gray;
  color; white;
}

.lucky-button {
  background-color: black;
  color: white;
  border: none;
}

.lucky-button:hover {
  background-color: #157ffb!important;
  color; white;
}


/*Primary carosel css*/

.my-card ul {
  text-decoration: none;
}

/* Calculator css */

.build-plan{
 text-align: center;
}
#calculate {
 background: grey;
}

#wolf--calculate {
 border: none;
 background-color: black;
 display: block;
 text-align: center;
 width:200px;
   margin-left:auto;
   margin-right:auto;
}

#chatterbox--calculate {
 border: none;
 background-color: black;
 display: block;
 text-align: center;
 width:200px;
   margin-left:auto;
   margin-right:auto;
}

#family--calculate {
 border: none;
 background-color: black;
 display: block;
 text-align: center;
 width:200px;
   margin-left:auto;
   margin-right:auto;
}

.plan--cost {
  font-size: 20px;
}
/*Monthly/Annualy toogle*/
.toggle_radio{
 text-align: center;
 position: relative;
 background: rgba(255,255,255,.1);
 margin: 4px auto;
 overflow: hidden;
 padding: 0 !important;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 border-radius: 50px;
 position: relative;
 height: 26px;
 width: 218px;
}
.toggle_radio > * {
 float: left;
}
.toggle_radio input[type=radio]{
 display: none;
 /*position: fixed;*/
}
.toggle_radio label{
 /* font: 90%/1.618 "Source Sans Pro"; */
 color: rgba(255,255,255,.9);
 z-index: 0;
 display: block;
 width: 100px;
 height: 20px;
 margin: 3px 3px;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 border-radius: 50px;
 cursor: pointer;
 z-index: 1;
 /*background: rgba(0,0,0,.1);*/
 text-align: center;
 /*margin: 0 2px;*/
 /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
 /*display: none;*/
 /*background: red;*/
 width: 100px;
 height: 20px;
 position: absolute;
 top: 3px;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 border-radius: 50px;
 -webkit-transition: all .4s ease;
 -moz-transition: all .4s ease;
 -o-transition: all .4s ease;
 -ms-transition: all .4s ease;
 transition: all .4s ease;
}


#monthly:checked ~ .toggle_option_slider{
 background: rgba(255,255,255,.3);
 left: 3px;
}
#annually:checked ~ .toggle_option_slider{
 background: rgba(255,255,255,.3);
 left: 109px;
}

#chatterbox-monthly:checked ~ .chatterbox-toggle_option_slider{
 background: rgba(255,255,255,.3);
 left: 3px;
}
#chatterbox-annually:checked ~ .chatterbox-toggle_option_slider{
 background: rgba(255,255,255,.3);
 left: 109px;
}
/*end of Monthly/Annualy toogle*/
/*end of Monthly/Annualy toogle*/

/*Footer styles*/
/*Social Buttons*/
/* .fa {
   padding: 10px;
   font-size: 30px;
   width: 50px;
   text-align: center;
   text-decoration: none;
}

.fa:hover {
   opacity: 0.7;
}

.fa-facebook {
   background: #3B5998;
   color: white;
}

.fa-twitter {
   background: #55ACEE;
   color: white;
}

.fa-instagram {
   background: #0E68CE;
   color: white;
} */

/*Blocks*/

#netflix-container {
  margin: 50px 0;
}

#netflix-container .h2-margintop {
  margin-top: 20px;
}
